<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZZRunloopToolDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33D8BCFA1D1A58F4008E6779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33D8BD131D1A58F4008E6779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33D8BD1E1D1A58F4008E6779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
